format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$package\
$nix_shell\
$cmd_duration\
$line_break\
$time\
$status\
$character
"""

# system

[directory]
truncation_length = 3

[time]
disabled = false

[battery]
disabled = true

[jobs]
disabled = true

[hostname]
disabled = true

[cmd_duration]
min_time = 5000
show_notifications = true

# git

[git_branch]
symbol = ""

[gcloud]
format = 'for gcloud\([$project]($style)\) '
style = "bold green"
